.recharts-polar-angle-axis-tick-value {
  font-size: 16px; /* Taille de la police */
  font-weight: bold; /* Poids de la police */
  fill: #ff0101; /* Couleur du texte */
  text-transform: uppercase; /* Mettre en majuscule */
  letter-spacing: 1px; /* Espacement des lettres */
}
