.ss-button-nav-dashboard {
  width: 64px;
  height: 64px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}
